semestre1/profMoledo/.DS_Store
semestre1/ProjetoSoftwareInfoDengue
semestre2/des_web/aula16082024/node_modules/
semestre2/des_web/aula23082024/task/node_modules/
semestre2/des_web/aula30082024/node_modules/
semestre2/des_web/homeworks/calcCelsiusFahrenheit/task/node_modules/
